* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}
