table {
  margin-top: 20px;
  display: block;
  overflow: scroll;
  color: #96525c;
  height: 400px;
}

table tbody tr {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
}

table tbody tr:nth-of-type(odd) {
  background-color: lightblue;
}

tr:hover {
  background-color: lightcoral;
}
